* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --eerie-black: #1C1C10ff;
    --black-olive: #312E1Fff;
    --silver: #C3C3C3ff;
    --platinum: rgb(213, 216, 221);
    --penn-red: rgba(164, 25, 4, 0.815);
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 56px;
    background: url("images/Main-denise-jans-Lq6rcifGjOU-unsplash.jpg") no-repeat left center fixed;
    background-size: cover;
    color: var(--eerie-black);
}

h1 {
    font-family: 'Michroma', sans-serif;
    color: var(--eerie-black);
    padding-top: 100px;
}

main {
    padding-bottom: 120px;
}

/* ***** Navbar styling *****/
#navbar-icon {
    height: 30px;
    width: 30px;
}

.nav-link {
    font-size: 1.5rem;
    color: var(--eerie-black);
    font-weight: 300;
}

.navbar.scrolled {
    background: rgb(164, 166, 171);
    transition: background 800ms;
}

/* ****Footer Styling***** */
.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    background-color: var(--platinum);
    width: 100%;
    margin: 0;
    padding: 0%;
}

.footer-links {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
    padding-left: 25%;
}

#footer-bottom {
    background-color: var(--eerie-black);
    color: var(--silver);
    width: 100%;
}

.footer-text {
    font-size: .65rem;
    color: var(--silver);
    margin: 0;
}

.footer-icon {
    height: 30px;
    width: 30px;
}

/* *****ABOUT PAGE***** */
#about-container {
    background-color: rgb(213, 216, 221, 0.875);
}

#with-Clem {
    padding: 3.5%;
}

#education,
#skills {
    margin-top: 0.5rem;
}

.about-skills {
    padding-left: 5%;
    list-style-type: circle;
}

#resume {
    padding-left: 5%;
}

/**** Projects Page Carousel *****/
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.project-images-container,
.project-descr-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--penn-red);
    padding: 2.5%;
}

.project-images,
.project-descr {
    width: 85%;
    padding: 10px;
    color: var(--eerie-black);
}

.project-images img,
.project-descrs article {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.project-images img:first-of-type {
    display: block;
}

.project-descrs article:first-of-type {
    display: block;
}

.project-images-btn {
    height: 4%;
    width: 3%;
    align-self: center;
    border: none;
    background-color: var(--platinum);
    color: var(--penn-red);
    font-size: 30px;
    padding: 1px;
    border-radius: 15%;
}

/* ***** Modal Styling ***** */
#resume-modal {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#footer-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-modal {
    padding: 12px 14px;
    border: 2px solid --black-olive;
    outline: none;
    border-radius: 25%;
    width: 120px;
    color: --black-olive;
}

/* ******Resume Formatting ****** */
#resume-content {
    background-color: white;
    margin: 10% auto;
    padding: 5%;
    width: 75vw;
}

.company-name {
    font-weight: bold;
}

.list-group-item {
    padding: 0.25rem 1.25rem;
}

.job-title {
    font-weight: bold;
    padding-left: 1.25rem;
    list-style: none;
}

.bullet {
    padding: 0.25rem 3rem;
}

/* ***** Media Query ***** */
@media only screen and (min-width: 768px) {
    h1 {
        padding-top: 30px;
    }

}