/* ***** after MVP- see if I can add grainy film transition: https: //codepen.io/josetxu/pen/yLjwOwQ */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --eerie-black: #1C1C10ff;
    --black-olive: #312E1Fff;
    --silver: #C3C3C3ff;
    --platinum: rgb(213, 216, 221);
    --penn-red: rgba(164, 25, 4, 0.815);
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 56px;
    background: url("images/Main-denise-jans-Lq6rcifGjOU-unsplash.jpg") no-repeat left center fixed;
    background-size: cover;
    height: 100vh;

    /* display: flex;
    flex-direction: column; */
}


h1 {
    font-family: 'Michroma', sans-serif;
    color: var(--eerie-black);
    padding-top: 90px;
}

/* Borders for vis only- to remove later */
body,
nav,
.footer-container {
    border: 3px solid red;
    color: var(--black-olive);
    /* background-color: var(--silver); */
}

#navbar {
    background-color: var(--platinum);
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: var(--black-olive);
    width: 100%;
    padding: 0;
    margin: 0;
    /* flex-grow: 0;
    flex-shrink: 0; */
}

#footer-bottom {
    background-color: var(--eerie-black);
    color: var(--silver);
    width: 100%;
}

.footer-text {
    font-size: .55rem;
    color: var(--silver);
    margin: 0;
}

/* *****ABOUT PAGE***** */
#about-container {
    background-color: rgb(213, 216, 221, 0.875);
}

#with-Clem {
    padding: 2.5%;
}

.about-content {
    padding: 2.5%;
    margin: 0 auto;
}

/* ******Resume Formatting ****** */
#resume-content {
    background-color: white;
    margin: 10% auto;
    padding: 5%;
    width: 75vw;
}

.company-name {
    font-weight: bold;
}

.list-group-item {
    padding: 0.25rem 1.25rem;
}

.job-title {
    font-weight: bold;
    padding-left: 1.25rem;
    list-style: none;
}

.bullet {
    padding: 0.25rem 3rem;
}

#education,
#skills {
    margin-top: 0.5rem;
}

.about-skills {
    padding-left: 5%;
    list-style-type: circle;
}

/* ***** Modal Styling ***** */
#resume-modal {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-buttons {
    padding: 12px 14px;
    border: 2px solid --black-olive;
    outline: none;
    border-radius: 25%;
    width: 120px;
    color: --black-olive display: inline-block;
}

/**** Projects Page Carousel *****/

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-images-container,
.project-descr-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--penn-red);
}

.project-images,
.project-descr {
    width: 85%;
    padding: 10px;
    color: var(--eerie-black);
}

.project-images img,
.project-descrs article {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.project-images img:first-of-type {
    display: block;
}

.project-descrs article:first-of-type {
    display: block;
}

.project-images-btn {
    height: 4%;
    width: 3%;
    align-self: center;
    border: none;
    background-color: var(--platinum);
    color: var(--penn-red);
    font-size: 30px;
    padding: 1px;
    border-radius: 15%;
}

/* ****get this working once MVP is ready */
/* .project-images-btn:hover {
    border: 2px solid --eerie-black;
} */